<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfactory.mes.eq.vo.EquipMapper">
	<!-- EQ -->
	<resultMap type="com.yfactory.mes.eq.vo.EqVO" id="equip">
	<!-- 설비코드 -->
	<result property="eq_cd" column="EQ_CD" />
	<!-- 업체코드 -->
	<result property="vdr_code" column="VDR_CODE" />
	<!-- 설비명 -->
	<result property="eq_nm" column="EQ_NM" />
	<!-- 최저온도 -->
	<result property="eq_max" column="EQ_MAX" />
	<!-- 최고온도 -->
	<result property="eq_min" column="EQ_MIN" />
	<!-- 점검주기 -->
	<result property="eq_chkcyc" column="EQ_CHKCYC" />
	<!-- 모델번호 -->
	<result property="eq_mdno" column="EQ_MDNO" />
	<!-- 구매일 -->
	<result property="eq_purdt" column="EQ_PURDT" />
	<!-- 사용여부 -->
	<result property="eq_actst" column="EQ_ACTST" />
	<!-- 시간당 생산량 UPH -->
	<result property="eq_uph" column="EQ_UPH" />
	<!-- 등록자 -->
	<result property="eq_inster" column="EQ_INSTER" />
	<!-- 이미지 -->
	<result property="uuid" column="UUID" />



	</resultMap>

	<!-- EQ_CHK -->
	<resultMap type="com.yfactory.mes.eq.vo.EqChkVO" id="eqchk">
		<!-- 점검일 -->
		<result property="eq_chkdt" column="EQ_CHKDT" />
		<!-- 설비코드 -->
		<result property="eq_cd" column="EQ_CD" />
		<!-- 점검상세 -->
		<result property="eq_chkdtl" column="EQ_CHKDTL" />
		<!-- 검수자 -->
		<result property="eq_chkr" column="EQ_CHKR" />
		<!-- 판정코드 -->
		<result property="chk_rscd" column="CHK_RSCD" />

	</resultMap>

	<!-- EQ RSTAT -->
	<resultMap type="com.yfactory.mes.eq.vo.EqRstatVO"
		id="eqrstat">
		<!-- LOG 시간 -->
		<result property="proc_log" column="EQ_LOGTM" />
		<!-- 설비코드 -->
		<result property="eq_cd" column="EQ_CD" />
		<!-- 실시간 온도 -->
		<result property="eq_rtmp" column="EQ_RTMP" />
		<!-- 실시간 생산량 -->
		<result property="eq_rprdq" column="EQ_RPRDQ" />
		<!-- 불량량 -->
		<result property="eq_errqty" column="EQ_ERRQTY" />
	</resultMap>

	<!-- EQ_INA -->
	<resultMap type="com.yfactory.mes.eq.vo.EqInaVO" id="eqina">
		<!-- 설비가동코드 -->
		<result property="eq_actcd" column="EQ_ACTCD" />
		<!-- 설비코드 -->
		<result property="eq_cd" column="EQ_CD" />
		<!-- 비가동시작일 -->
		<result property="eq_inasd" column="EQ_INASD" />
		<!-- 비가동종료일 -->
		<result property="eq_inaed" column="EQ_INAED" />
		<!-- 비가동사유 코드 -->
		<result property="dis_code" column="DIS_CODE" />
		<!-- 비가동 비고 -->
		<result property="eq_note" column="EQ_NOTE" />
	</resultMap>

	<!-- EQ_UPHCAL -->
	<resultMap type="com.yfactory.mes.eq.vo.UphcalVO" id="equph">
		<!-- 계산일자 -->
		<result property="cal_dt" column="CAL_DT" />
		<!-- 설비코드 -->
		<result property="eq_code" column="EQ_CODE" />
		<!-- 가동시간 -->
		<result property="act_time" column="ACT_TIME" />
		<!-- 산출량 -->
		<result property="output_qty" column="OUTPUT_QTY" />
		<!-- 시간당 총 생산량 UPH -->
		<result property="eq_uph" column="EQ_UPH" />
	</resultMap>

<select id="" ></select>



</mapper>